.carousel-slider {
  position: relative;
  /*Изображения*/
  &__cartoon {
    width: 70px !important;
    height: 70px;

    border-radius: 50%;

    margin-left: 10px;
  }
  /*Ссылки с изображениями*/
  &__link {
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    cursor: pointer;
    outline: none;

    &--blaze {
      background-image: url('../img/buttons/blaze_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/blaze_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--doraexp {
      background-image: url('../img/buttons/dora_exp1_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/dora_exp1_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--dorafriends {
      background-image: url('../img/buttons/dora_friends_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/dora_friends_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--guppies {
      background-image: url('../img/buttons/guppies_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/guppies_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--nella {
      background-image: url('../img/buttons/nella_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/nella_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--nickjr {
      background-image: url('../img/buttons/nickjr_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/nickjr_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--paw {
      background-image: url('../img/buttons/paw_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/paw_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--rusty {
      background-image: url('../img/buttons/rusty_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/rusty_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--shs {
      background-image: url('../img/buttons/shs_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/shs_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--sunny {
      background-image: url('../img/buttons/sunny_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/sunny_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--topwing {
      background-image: url('../img/buttons/topwing_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/topwing_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }

    &--umizoomi {
      background-image: url('../img/buttons/umizoomi_normal.png');
      background-size: 70px 70px;
      background-repeat: no-repeat;

      &:active {
        background-image: url('../img/buttons/umizoomi_pushed.png');
        background-size: 70px 70px;
        background-repeat: no-repeat;
      }
    }
  }

  /*Кнопки*/
  .prev-1 {
    position: absolute;

    width: 78px;
    height: 78px;

    border: none;
    border-radius: 35px;

    background-color: rgba(39, 192, 215, 0.6);

    z-index: 10;

    top: 0;
    left: -50px;

    background-image: url('../img/arrow-left.png');
    background-size: 14px 21px;
    background-repeat: no-repeat;
    background-position: right 10px center;

    transition: 0.2s ease-in;

    &:hover {
      left: -40px;
      transition: 0.2s ease-in;
    }
  }

  .next-1 {
    position: absolute;

    width: 78px;
    height: 78px;

    border: none;
    border-radius: 35px;

    background-color: rgba(39, 192, 215, 0.6);

    z-index: 10;

    top: 0;
    right: -50px;

    background-image: url('../img/arrow-right.png');
    background-size: 14px 21px;
    background-repeat: no-repeat;
    background-position: left 10px center;

    transition: 0.2s ease-in;

    &:hover {
      right: -40px;
      transition: 0.2s ease-in;
    }
  }

  .slick-list {
    height: 85px;
  }
}

@media only screen and (min-width: $mobile) {
  .carousel-slider {
    .prev-1 {
      left: -45px;

      &:hover {
        left: -35px;
      }
    }

    .next-1 {
      right: -45px;

      &:hover {
        right: -35px;
      }
    }
  }
}

@media only screen and (min-width: $iphone) {
  .carousel-slider {
    .prev-1 {
      left: -45px;

      &:hover {
        left: -35px;
      }
    }

    .next-1 {
      right: -45px;

      &:hover {
        right: -35px;
      }
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .carousel-slider {
    width: 100% !important;

    &__cartoon {
      width: 70px !important;
      height: 70px;

      margin-left: 10px;
    }

    .prev-1 {
      width: 98px;
      height: 78px;

      left: -60px;

      &:hover {
        left: -50px;
      }
    }

    .next-1 {
      width: 98px;
      height: 78px;

      right: -60px;

      &:hover {
        right: -50px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .carousel-slider {
    width: 100% !important;

    &__cartoon {
      width: 100px !important;
      height: 100px;

      margin-left: 10px;
    }

    /*Ссылки с изображениями*/
    &__link {
      display: block;

      width: 100%;
      height: 100%;

      border-radius: 50%;

      cursor: pointer;
      outline: none;

      &--blaze {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--doraexp {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--dorafriends {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--guppies {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--nella {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--nickjr {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--paw {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--rusty {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--shs {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--sunny {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--topwing {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }

      &--umizoomi {
        background-size: 100px 100px;

        &:active {
          background-size: 100px 100px;
        }
      }
    }

    .prev-1 {
      width: 118px;
      height: 98px;

      left: -80px;

      border-radius: 40px;

      background-image: url('../img/arrow-left.png');
      background-size: 18px 29px;

      &:hover {
        left: -70px;
      }
    }

    .next-1 {
      width: 118px;
      height: 98px;

      right: -80px;

      border-radius: 40px;

      background-image: url('../img/arrow-right.png');
      background-size: 18px 29px;

      &:hover {
        right: -70px;
      }
    }

    .slick-list {
      height: 130px;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .carousel-slider {
    width: 100% !important;

    &__cartoon {
      width: 100px !important;
      height: 100px;

      margin-left: 10px;
    }

    .prev-1 {
      width: 118px;
      height: 98px;

      left: -80px;

      border-radius: 40px;

      background-image: url('../img/arrow-left.png');
      background-size: 18px 29px;

      &:hover {
        left: -70px;
      }
    }

    .next-1 {
      width: 118px;
      height: 98px;

      right: -80px;

      border-radius: 40px;

      background-image: url('../img/arrow-right.png');
      background-size: 18px 29px;

      &:hover {
        right: -70px;
      }
    }

    .slick-list {
      height: 130px;
    }
  }
}
