.carousel-slider {
  position: relative;
  /*Изображения*/
  &__cartoon {
    width: 70px !important;
    height: 70px;

    border-radius: 50%;

    margin-left: 10px;
    margin-top: 10px;
  }
  /*Ссылки с изображениями*/
  &__image img {
    width: 70px;
    height: 100%;
  }

  &__image--hover {
    display: none;

    width: 70px;
    height: auto;
  }

  &__link {
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    cursor: pointer;
    outline: none;

    &:active {
      .carousel-slider__image--original {
        display: none;
      }

      .carousel-slider__image--hover {
        display: block;
      }
    }
  }

  /*Кнопки*/
  .prev-1 {
    position: absolute;

    width: 78px;
    height: 78px;

    border: none;
    border-radius: 35px;

    background-color: rgba(39, 192, 215, 0.6);

    z-index: 10;

    top: 0;
    left: -50px;

    background-image: url('../img/arrow-left.png');
    background-size: 14px 21px;
    background-repeat: no-repeat;
    background-position: right 10px center;

    transition: 0.2s ease-in;

    &:hover {
      left: -40px;
      transition: 0.2s ease-in;
    }
  }

  .next-1 {
    position: absolute;

    width: 78px;
    height: 78px;

    border: none;
    border-radius: 35px;

    background-color: rgba(39, 192, 215, 0.6);

    z-index: 10;

    top: 0;
    right: -50px;

    background-image: url('../img/arrow-right.png');
    background-size: 14px 21px;
    background-repeat: no-repeat;
    background-position: left 10px center;

    transition: 0.2s ease-in;

    &:hover {
      right: -40px;
      transition: 0.2s ease-in;
    }
  }

  .slick-list {
    height: 85px;
  }
}

@media only screen and (min-width: $mobile) {
  .carousel-slider {
    .prev-1 {
      left: -45px;

      &:hover {
        left: -35px;
      }
    }

    .next-1 {
      right: -45px;

      &:hover {
        right: -35px;
      }
    }
  }
}

@media only screen and (min-width: $iphone) {
  .carousel-slider {
    .prev-1 {
      left: -45px;

      &:hover {
        left: -35px;
      }
    }

    .next-1 {
      right: -45px;

      &:hover {
        right: -35px;
      }
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .carousel-slider {
    width: 100% !important;

    .prev-1 {
      width: 98px;
      height: 78px;

      left: -60px;

      &:hover {
        left: -50px;
      }
    }

    .next-1 {
      width: 98px;
      height: 78px;

      right: -60px;

      &:hover {
        right: -50px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .carousel-slider {
    &__cartoon {
      margin-left: 0;
      margin-top: 20px;
    }

    .prev-1 {
      width: 118px;
      height: 98px;

      left: -80px;

      border-radius: 40px;

      background-size: 18px 29px;

      &:hover {
        left: -70px;
      }
    }

    .next-1 {
      width: 118px;
      height: 98px;

      right: -80px;

      border-radius: 40px;

      background-size: 18px 29px;

      &:hover {
        right: -70px;
      }
    }

    .slick-list {
      height: 100px;
      width: auto;
    }

    .slick-slide {
      width: 70px;
      height: 70px;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .carousel-slider {
    margin-top: 0;

    &__cartoon {
      margin-left: 0;
      margin-top: 0;
    }

    .slick-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: auto;
      max-width: 1440px;

      margin-left: auto;
      margin-right: auto;
    }
  }
}
