.carousel-slider {
  &__video {
    width: 100px !important;
    height: 100px;

    border-radius: 50%;
    background-color: silver;

    box-shadow:0px 5px 10px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 5px 10px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 5px 10px 5px rgba(0,0,0,0.3);
  }

  .prev-1 {
    width: 100px;
    height: 10px;

    background-color: red;
  }

  .next-1 {
    width: 100px;
    height: 10px;

    background-color: red;
  }

  .slick-list {
    height: 120px;
  }
}
