.content-pagination {
  @include flex-setting(row, center, center);
  @include ul-nostyle;

  width: 100%;
}

@media only screen and (min-width: $tablets) {
  .content-pagination {
    justify-content: flex-start;

    max-width: 330px;

    &--index {
      justify-content: center;
      max-width: 660px;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .content-pagination {
    justify-content: flex-start;

    max-width: 660px;

    &--index {
      justify-content: center;
      max-width: 940px;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .content-pagination {
    justify-content: flex-end;

    &--index {
      max-width: 994px;
    }
  }
}
