@font-face {
	font-family: 'Arista';
	font-display: swap;
	src: url('../fonts/Zetafonts - AristaProAlternate-Fat.eot');
	src: local('☺'), url('../fonts/Zetafonts - AristaProAlternate-Fat.woff') format('woff'), url('../fonts/Zetafonts - AristaProAlternate-Fat.ttf') format('truetype'),url('../fonts/Zetafonts - AristaProAlternate-Fat.otf') format('opentype'), url('../fonts/Zetafonts - AristaProAlternate-Fat.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Arista';
	font-display: swap;
	src: url('../fonts/Zetafonts - AristaProAlternate-Regular.eot');
	src: local('☺'), url('../fonts/Zetafonts - AristaProAlternate-Regular.woff') format('woff'), url('../fonts/Zetafonts - AristaProAlternate-Regular.ttf') format('truetype'), url('../fonts/Zetafonts - AristaProAlternate-Regular.otf') format('opentype'), url('../fonts/Zetafonts - AristaProAlternate-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
