.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  background-color: $bg-footer;

  margin-bottom: 0;
  margin-top: auto;

  padding-left: 7px;
  padding-right: 7px;
}
