.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  background-color: $bg-footer;

  margin-bottom: 0;
  margin-top: auto;

  padding-left: 7px;
  padding-right: 7px;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logos {
    margin-bottom: 10px;
  }

  &__links {
    margin-bottom: 10px;
  }

  &__metric {
    margin-bottom: 10px;
  }
}
