.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  background-color: $bg-footer;

  margin-bottom: 0;
  margin-top: auto;

  padding-left: 7px;
  padding-right: 7px;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logos {
    margin-bottom: 10px;
  }

  &__links {
    margin-bottom: 10px;
  }

  &__metric {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $mobile) {
  .footer {
    padding-left: 11px;
    padding-right: 11px;

    &__metric {
      margin-bottom: 13px;
    }
  }
}

@media only screen and (min-width: $iphone) {
  .footer {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .footer {
    padding-left: 38px;
    padding-right: 38px;

    padding-bottom: 7px;

    &__metric {
      margin-bottom: 7px;
    }
  }
}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
