.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100%;
}

@media only screen and (min-width: $notebooks) {
  .footer-links {
    width: 672px;
    z-index: 10;
  }
}
