.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__description {
    margin: 0;
    padding: 0;

    font: {
      size: 0.75em;
      family: "Arial", sans-serif;
      weight: 300;
    }

    color: $text-copyright;
    line-height: 1;

    text-align: center;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .footer-copyright {
    &__description {
      &--reserve {
        width: 350px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .footer-copyright {
    &__description {
      &--reserve {
        width: 658px;
      }
    }
  }
}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
