.header-carousel {
  width: 100%;
}


@media only screen and (min-width: $tablets) {
  .header-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: $notebooks) {
  .header-carousel {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .header-carousel {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
