.links-item {
  margin-right: 4px;

  &__link {
    width: 100%;
    height: 100%;

    display: block;

    text-decoration: none;
  }

  &__text {
    font: {
      size: 0.813em;
      weight: 300;
      family: "Arial", sans-serif;
    }

    color: $text-link;
    line-height: 1.25em;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .links-item {
    margin-right: 12px;
  }
}

@media only screen and (min-width: $tablets) {
  .links-item {
    margin-right: 10px;
  }
}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
