.main {
  @include container;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &--index {
    display: grid;
    grid-template-areas:
      'promo-1'
      'category'
      'content'
      'promo-2'
      'promo-3'
      'text'
    ;

    grid-row-gap: 0.625rem;
  }

  &--show {
    display: grid;
    grid-template-areas:
      'promo-1'
      'intro'
      'show'
      'promo-2'
      'category'
      'promo-3'
      'vk'
    ;

    grid-row-gap: 1.25rem;
  }

  &__promo--first {
    grid-area: promo-1;
  }

  &__promo--second {
    grid-area: promo-2;
  }

  &__promo--third {
    grid-area: promo-3;
  }

  &__filter {
    grid-area: category;
  }

  &__content {
    grid-area: content;
  }

  &__text {
    grid-area: text;
  }

  &__intro {
    grid-area: intro;
  }

  &__show {
    grid-area: show;
  }

  &__vk {
    grid-area: vk;
  }
}

@media only screen and (min-width: $tablets) {
  .main {
    &--index {
      grid-template-areas:
        'promo-1'
        'category'
        'content'
        'text'
      ;
      grid-row-gap: 1.875rem;
    }

    &--show {
      grid-template-areas:
        'promo-1'
        'intro'
        'show'
        'category'
        'vk'
      ;

      grid-row-gap: 1.875rem;
    }
  }
}

@media only screen and (min-width: $widebooks) {
  .main {
    position: relative;

    margin: 0 auto;

    pointer-events: all;
  }
}

@media only screen and (min-width: 1600px) {
  .main {
    &--index {
      display: grid;
      grid-template-areas:
        'promo-1 promo-1'
        'category category'
        'content promo-3'
        'text text'
      ;
      grid-template-columns: 1fr 240px;
      grid-column-gap: 1.875rem;
      grid-row-gap: 1.875rem;
      align-items: start;
    }

    &--show {
      grid-template-areas:
        'promo-1 promo-1 promo-1'
        'intro intro promo-3'
        'show show show'
        'category category category'
        'vk vk ...'
      ;

      grid-row-gap: 2.875rem;
      grid-column-gap: 2.875rem;
    }

    &__promo--third {
      align-self: start;
      max-width: 240px;
      max-height: 400px;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &--video {
      padding-top: 20px;
    }
  }
}
