.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;

  &__wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    min-height: 115px;
  }

  &__link {
    width: 100%;
    height: 115px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
  }

  &__img {
    width: 100%;
    height: 100px;
  }

  &__text {
    background-color: $bg-black;
    border-radius: 0 0 8px 8px;

    display: block;

    width: 100%;

    margin-top: -1px;

    text-align: center;
    text-transform: uppercase;

    padding-top: 4px;
    padding-bottom: 3px;

    font: {
      family: $promo-font;
      size: 0.5em;
      weight: 300;
    }
    color: $text-white;
    line-height: 1;
  }

  /*Скрытый промоблок*/

  &--hdmob,
  &--hdmob2 {
    display: none;
  }

  /*Промоблок-2 только для мобильных*/

  &--mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .main-promo__wrapper {
      width: 100%;
      min-width: 320px;
      max-width: 320px;
      min-height: 65px;
    }

    .main-promo__link {
      height: 65px;
    }

    .main-promo__img {
      height: 50px;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .main-promo {
    &__wrapper {
      max-width: 320px;
    }

    /*Промоблок-2 только для мобильных*/
    &--mobile {
      .main-promo__wrapper {
        max-width: 320px;
      }
    }

    &--show {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-promo {
    /*Промоблок-2 только для мобильных*/
    &--mobile {
      display: none;
    }

    /*Рекламный блок только для размера 480px*/
    &--hdmob {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .main-promo__wrapper {
        width: 100%;
        min-width: 320px;
        max-width: 320px;
        min-height: 65px;
      }

      .main-promo__link {
        height: 65px;
      }

      .main-promo__img {
        height: 50px;
      }
    }

    &--hdmob2 {

    }

    &--show {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-promo {
    margin-bottom: 5px;

    &--first {
      margin-bottom: 32px;
    }

    &__wrapper {
      width: 100%;
      min-width: 728px;
      max-width: 728px;
      min-height: 105px;
    }

    /*Рекламный блок только для размера 480px*/
    &--hdmob {
      display: none;
    }

    &--show {
      margin-bottom: 15px;
    }

    &--tabshow {
      margin-bottom: 20px;
    }

    &--tabgame {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-promo {
    margin-bottom: 21px;

    &--mobile {
      display: none;
    }

    &--first {
      margin-bottom: 30px;
    }

    &--game {
      margin-bottom: 32px;
    }
  }
}
