.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  padding-left: 80px;
  padding-right: 80px;

  &__content {
    width: 75%;
  }

  &__sidebar {
    width: 25%;
  }
}
