.main-content {
  display: grid;
  grid-template-areas:
    'content-list'
    'pagination'
  ;

  grid-row-gap: 1.875rem;

  &__list {
    grid-area: content-list;
  }

  &__pagination {
    grid-area: pagination;
  }
}

@media only screen and (min-width: 414px) {
  .main-content {
    grid-template-areas:
      'content-list'
      'pagination'
      'promo-6'
    ;

    &__promo {
      justify-self: center;
      grid-area: promo-6;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .main-content {
    width: 100%;

  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-content {

  }
}
