.main-wrapper {
  @include container;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;

  padding-left: 80px;
  padding-right: 80px;

  &__content {
    width: 994px;
  }

  &__sidebar {
    width: 246px;
  }
}
