.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-bottom: 12px;
}

@media only screen and (min-width: $mobile) {
  .main-sidebar {
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: $mobile-hd) {

}

@media only screen and (min-width: $tablets) {

}
