.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-bottom: 12px;

  &__mark {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .main-sidebar {
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-sidebar {
    padding-bottom: 26px;

    &--show {
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-sidebar {
    padding-bottom: 26px;

    &--show {
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .main-sidebar {
    position: absolute;

    width: 320px;

    top: 328px;
    right: 0;

    &__mark {
      display: block;
      align-self: flex-end;

      background-color: $bg-mark-btn;

      width: 140px;
      height: 30px;

      border-radius: 25px;
      border: none;

      cursor: pointer;
      outline: none;

      font: {
        size: 1em;
        family: $fat-font;
      }

      color: $text-white;
      line-height: 1;

      text-align: center;
      text-transform: uppercase;
      padding-left: 30px;

      margin-bottom: -30px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 18px;
        height: 16px;

        top: 50%;
        left: 10px;

        background-image: url('../img/like-icon.svg');
        background-repeat: no-repeat;
        background-size: 18px 16px;

        transform: translateY(-50%);
      }
    }

    &--page {
      top: 350px;
      right: -20px;
    }

    &__promo {
      display: none;
    }

    &--show {
      position: relative;
      top: auto;
      width: 100%;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-sidebar {
    position: relative;

    width: 246px;

    top: auto;
    right: 0;

    &__mark {
      align-self: flex-start;

      width: 180px;
      height: 38px;

      border-radius: 25px;
      border: none;

      cursor: pointer;
      outline: none;

      font: {
        size: 1.25em;
        family: $fat-font;
      }

      color: $text-white;
      line-height: 1;

      text-align: center;
      text-transform: uppercase;
      padding-left: 20px;

      margin-bottom: 20px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 26px;
        height: 24px;

        top: 50%;
        left: 10px;

        background-image: url('../img/like-icon.svg');
        background-repeat: no-repeat;
        background-size: 26px 24px;

        transform: translateY(-50%);
      }
    }

    &__promo {
      display: flex;
    }

    &--show {
      position: absolute;
      top: 360px;
      right: 0;
    }
  }
}
