.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;

  /*Стилизация блока рекламы под хедером 320х100 и 728х90* id=promo-1*/
  &--first {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      width: 320px;
      height: 115px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      overflow: hidden;
    }

    .main-promo__content {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-content: stretch;

      width: 100%;
      height: 100px;
      max-height: 100px;

      background-color: rgba(255, 255, 255, 0.2);
      overflow: hidden;
    }
  }

  &--third {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    margin-bottom: 30px;

    height: 265px;
    width: 300px;

    overflow: hidden;

    .main-promo__content {
      width: 300px;
      height: 250px;
      max-height: 250px;

      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.2)
    }
  }
  /*Стилизация блока рекламы после пагинации 320х50 и 728х90* id=promo-2*/
  &--fourth {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 320px;
      height: 65px;

      overflow: hidden;
    }

    .main-promo__content {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-content: stretch;

      width: 100%;
      height: 50px;
      max-height: 50px;

      background-color: rgba(255, 255, 255, 0.2);
      overflow: hidden;
    }
  }
  /*Стили промо-5*/
  &--fifth {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      margin-bottom: 20px;
      width: 300px;
      height: 265px;

      overflow: hidden;
    }

    .main-promo__content {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-content: stretch;

      width: 100%;
      height: 250px;
      max-height: 250px;

      background-color: rgba(255, 255, 255, 0.2);
      overflow: hidden;
    }
  }

  /*Стилизация блока рекламы на странице шоу*/
  &--secondshow {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &--mobile {
        width: 100%;

        min-width: 320px;
        max-width: 320px;
        min-height: 65px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 320px;
          max-width: 320px;

          min-height: 50px;
          max-height: 50px;

          overflow-x: hidden;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }
  &--secondgame,
  &--secondvideo {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &--mobile {
        width: 100%;

        min-width: 320px;
        max-width: 320px;
        min-height: 65px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 320px;
          max-width: 320px;

          min-height: 50px;
          max-height: 50px;

          overflow-x: hidden;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }
  &--thirdshow {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      margin-bottom: 20px;

      &--mobile {
        width: 100%;

        min-width: 300px;
        max-width: 300px;
        min-height: 250px;
        max-height: 250px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 300px;
          max-width: 300px;
          min-height: 250px;
          max-height: 250px;
        }
      }

      &--desktop {
        display: none;
      }

      &--hd {
        display: none;
      }
    }
  }

  &__text {
    background-color: $bg-black;
    border-radius: 0 0 8px 8px;

    display: block;

    width: 100%;

    text-align: center;
    text-transform: uppercase;

    padding-top: 4px;
    padding-bottom: 3px;

    font: {
      family: $promo-font;
      size: 0.5em;
      weight: 300;
    }
    color: $text-white;
    line-height: 1;
  }

  &--game,
  &--video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .main-promo__wrapper {
      width: 100%;
      min-width: 320px;
      max-width: 320px;
      min-height: 65px;
    }

    .main-promo__link {
      height: 65px;
    }

    .main-promo__frame {
      height: 50px;
      max-height: 50px;
      min-height: 50px;
    }

    .main-promo__img {
      max-height: 50px;
      min-height: 50px;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .main-promo {
    &--show {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-promo {
    /*320x50px*/
    &--secondshow {
      display: flex;

      .main-promo__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &--mobile {
          width: 100%;

          min-width: 320px;
          max-width: 320px;
          min-height: 65px;

          .main-promo__content {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-content: stretch;

            min-width: 320px;
            max-width: 320px;

            min-height: 50px;
            max-height: 50px;

            overflow-x: hidden;
          }
        }
        &--desktop {
          display: none;
        }
      }
    }

    &--secondgame,
    &--secondvideo {
      display: flex;
      margin-bottom: 23px;
    }

    &--show {
      display: block;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-promo {
    margin-bottom: 5px;

    /*Стилизация блока рекламы под хедером 320х100 и 728х90* id=promo-1*/
    &--first {
      .main-promo__wrapper {
        width: 728px;
        height: 105px;
        margin-top: 20px;
      }

      .main-promo__content {
        height: 90px;
        max-height: 90px;
      }
    }

    &--third {
      margin-bottom: 1.25rem;
    }

    &--fourth {
      .main-promo__wrapper {
        width: 728px;
        height: 90px;
      }

      .main-promo__content {
        width: 100%;
        max-height: 90px;
        height: 90px;
      }

      margin-top: 0.625rem;
      margin-bottom: 1.25rem;
    }

    &--fifth {
      .main-promo__wrapper {
        width: 728px;
        height: 105px;
      }

      .main-promo__content {
        width: 100%;
        height: 90px;
        max-height: 90px;
      }
    }

    &--secondshow {
      display: none;
    }
    /*Стилизация блока рекламы после первого слайдера игр 300х250 и 728х90* id=promo-3*/
    &--thirdshow {
      display: none;
    }

    &--thirdgame {
      display: none;
    }
    &--thrdvideo {
      display: none;
    }

    &--show {
      display: none;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .main-promo {
    &--fifth {
      .main-promo__wrapper {
        width: 300px;
        height: 250px;
      }

      .main-promo__content {
        max-height: 250px;
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-promo {
    margin-bottom: 21px;

    &--first {
      margin-bottom: 30px;
    }

    &--third {
      width: 728px;

      .main-promo__wrapper {
        width: 728px;
        height: 90px;
      }

      .main-promo__content {
        width: 100%;
        max-height: 90px;
        height: 90px;
      }
    }

    &--fourth {
      position: absolute;

      right: -30px;

      .main-promo__wrapper {
        width: 300px;
        height: 250px;
      }

      .main-promo__content {
        max-height: 250px;
        height: 250px;
      }
    }

    &--fifth {
      .main-promo__wrapper {
        width: 240px;
        height: 400px;
      }

      .main-promo__content {
        max-height: 400px;
        height: 400px;
      }
    }

    &--first-alt {
      margin-bottom: 20px;
    }

    /*Стилизация блока рекламы после первого слайдера игр 300х250 и 728х90* id=promo-3*/
    &--game,
    &--video {
      margin-bottom: 32px;
    }
  }
}
