.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__intro--game {
    display: none;
  }
}

@media only screen and (min-width: $tablets) {
  .main-wrapper {
    &__breadcrumbs {
      order: 2;
    }

    &__intro {
      order: 1;
    }

    &__show {
      order: 3;
    }

    &__sidebar {
      order: 4;
    }

    &__vk {
      order: 5;
    }
    /*Порядок в контейнере для страницы с игрой*/
    &--game {
      .main__promo {
        display: none;
      }

      .main-sidebar__promo {
        display: none;
      }

      .main-wrapper__intro--game {
        display: block;
        order: 1;
      }

      .main-wrapper__game {
        order: 3;
      }

      .main-wrapper__breadcrumbs {
        order: 2;
      }

      .main-wrapper__carousel {
        order: 4;
      }

      .main-wrapper__bottom {
        order: 5;
      }
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .main-wrapper {
    position: relative;
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    padding-left: 80px;
    padding-right: 80px;

    &__content {
      width: 994px;
    }

    &__sidebar {
      width: 246px;
    }
  }
}
