.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-bottom: 12px;
}

@media only screen and (min-width: $mobile) {
  .main-sidebar {
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-sidebar {
    padding-bottom: 26px;

    &--show {
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-sidebar {
    padding-bottom: 26px;

    &--show {
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .main-sidebar {
    position: absolute;

    width: 320px;

    top: 328px;
    right: 0;

    &--page {
      top: 350px;
      right: -20px;
    }

    &__promo {
      display: none;
    }

    &--show {
      position: relative;
      top: auto;
      width: 100%;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-sidebar {
    position: relative;

    width: 246px;

    top: auto;
    right: 0;

    &__promo {
      display: flex;
    }

    &--show {
      position: absolute;
      top: 360px;
      right: 0;
    }
  }
}
