.main-promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;

  /*Стилизация блока рекламы под хедером 320х100 и 728х90* id=promo-1*/
  &--first {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &--mobile {
        width: 100%;

        min-width: 320px;
        max-width: 320px;
        min-height: 115px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 320px;
          max-width: 320px;

          min-height: 100px;
          max-height: 100px;

          overflow-x: hidden;
          background-color: #ffffff;
          opacity: 0.3;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }
  /*Стилизация блока рекламы после пагинации 320х50 и 728х90* id=promo-2*/
  &--second {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &--mobile {
        width: 100%;

        min-width: 320px;
        max-width: 320px;
        min-height: 65px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 320px;
          max-width: 320px;

          min-height: 50px;
          max-height: 50px;

          overflow-x: hidden;
          background-color: #ffffff;
          opacity: 0.3;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }
  /*Стилизация блока рекламы на странице шоу*/
  &--secondshow {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &--mobile {
        width: 100%;

        min-width: 320px;
        max-width: 320px;
        min-height: 65px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 320px;
          max-width: 320px;

          min-height: 50px;
          max-height: 50px;

          overflow-x: hidden;
          background-color: #ffffff;
          opacity: 0.3;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }

  &--secondgame {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &--mobile {
        width: 100%;

        min-width: 320px;
        max-width: 320px;
        min-height: 65px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 320px;
          max-width: 320px;

          min-height: 50px;
          max-height: 50px;

          overflow-x: hidden;
          background-color: #ffffff;
          opacity: 0.3;
        }
      }
      &--desktop {
        display: none;
      }
    }
  }
  /*Стилизация блока рекламы после первого слайдера игр 300х250 и 728х90* id=promo-3*/
  &--third {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      margin-bottom: 20px;

      &--mobile {
        width: 100%;

        min-width: 300px;
        max-width: 300px;
        min-height: 250px;
        max-height: 250px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 300px;
          max-width: 300px;
          min-height: 250px;
          max-height: 250px;
        }
      }

      &--desktop {
        display: none;
      }

      &--hd {
        display: none;
      }
    }
  }

  &--thirdshow {
    .main-promo__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      margin-bottom: 20px;

      &--mobile {
        width: 100%;

        min-width: 300px;
        max-width: 300px;
        min-height: 250px;
        max-height: 250px;

        .main-promo__content {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-content: stretch;

          min-width: 300px;
          max-width: 300px;
          min-height: 250px;
          max-height: 250px;
        }
      }

      &--desktop {
        display: none;
      }

      &--hd {
        display: none;
      }
    }
  }

  &__text {
    background-color: $bg-black;
    border-radius: 0 0 8px 8px;

    display: block;

    width: 100%;

    margin-top: -1px;

    text-align: center;
    text-transform: uppercase;

    padding-top: 4px;
    padding-bottom: 3px;

    font: {
      family: $promo-font;
      size: 0.5em;
      weight: 300;
    }
    color: $text-white;
    line-height: 1;
  }

  /*Скрытый промоблоки для 480px*/

  &--hdmob,
  &--hdmob2 {
    display: none;
  }

  /*Промоблок-2 только для мобильных*/

  &--mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .main-promo__wrapper {
      width: 100%;
      min-width: 320px;
      max-width: 320px;
      min-height: 65px;
    }

    .main-promo__link {
      height: 65px;
    }

    .main-promo__frame {
      height: 50px;
      max-height: 50px;
      min-height: 50px;
    }

    .main-promo__img {
      max-height: 50px;
      min-height: 50px;
    }
  }

  &--game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .main-promo__wrapper {
      width: 100%;
      min-width: 320px;
      max-width: 320px;
      min-height: 65px;
    }

    .main-promo__link {
      height: 65px;
    }

    .main-promo__frame {
      height: 50px;
      max-height: 50px;
      min-height: 50px;
    }

    .main-promo__img {
      max-height: 50px;
      min-height: 50px;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .main-promo {
    &--show {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-promo {

    &--second {
      display: none;
    }
    /*320x50px*/
    &--secondshow {
      display: flex;

      .main-promo__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &--mobile {
          width: 100%;

          min-width: 320px;
          max-width: 320px;
          min-height: 65px;

          .main-promo__content {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-content: stretch;

            min-width: 320px;
            max-width: 320px;

            min-height: 50px;
            max-height: 50px;

            overflow-x: hidden;
            background-color: #ffffff;
            opacity: 0.3;
          }
        }
        &--desktop {
          display: none;
        }
      }
    }

    &--secondgame {
      display: flex;
      margin-bottom: 23px;
    }

    /*Рекламный блок только для размера 480px*/
    &--hdmob {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      margin-bottom: 30px;

      max-height: 265px;
      min-height: 265px;
      width: 300px;
      min-width: 300px;
      max-width: 300px;

      .main-promo__content {
        width: 100%;
        min-width: 300px;
        max-width: 300px;
        min-height: 250px;
        max-height: 250px;
      }
    }

    &--show {
      display: block;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-promo {
    margin-bottom: 5px;

    /*Стилизация блока рекламы под хедером 320х100 и 728х90* id=promo-1*/
    &--first {
      .main-promo__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;

          width: 100%;
          min-width: 728px;
          max-width: 728px;

          min-height: 105px;
          max-height: 105px;

          margin-top: 20px;

          .main-promo__content {
            min-width: 728px;
            max-width: 728px;

            min-height: 90px;
            max-height: 90px;

            overflow-x: visible;
            background-color: transparent;
            opacity: 1;
          }
        }
      }
    }
    /*Стилизация блока рекламы после пагинации 320х50 и 728х90* id=promo-2*/
    &--second {
      .main-promo__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: none;
        }
      }
    }

    &--secondshow {
      display: none;
    }
    /*Стилизация блока рекламы после первого слайдера игр 300х250 и 728х90* id=promo-3*/
    &--third {
      .main-promo__wrapper {

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;

          width: 100%;
          min-width: 728px;
          max-width: 728px;

          min-height: 105px;
          max-height: 105px;

          .main-promo__content {
            min-width: 728px;
            max-width: 728px;

            min-height: 90px;
            max-height: 90px;

            overflow-x: visible;
            background-color: transparent;
            opacity: 1;
          }
        }
      }
    }

    &--thirdshow {
      display: none;
    }

    &--thirdgame {
      display: none;
    }
    /*Рекламный блок только для размера 480px*/
    &--hdmob {
      display: none;
    }

    &--show {
      display: none;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-promo {
    margin-bottom: 21px;

    &--first {
      margin-bottom: 30px;
    }

    &--hdmob {
      display: none;
    }

    /*Стилизация блока рекламы после первого слайдера игр 300х250 и 728х90* id=promo-3*/
    &--third {
      .main-promo__wrapper {

        &--mobile {
          display: none;
        }

        &--desktop {
          display: none;
        }

        &--hd {
          display: block;

          width: 100%;
          min-width: 240px;
          max-width: 240px;

          min-height: 415px;
          max-height: 415px;

          margin-top: 30px;

          .main-promo__content {
            min-width: 240px;
            max-width: 240px;

            min-height: 400px;
            max-height: 400px;
          }
        }
      }
    }

    &--game {
      margin-bottom: 32px;
    }
  }
}
