@mixin container {
  margin: 0 auto;
  padding: 0 7px;
  width: auto;
  max-width: 100%;

  @media only screen and (min-width: $mobile) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 11px;
  }

  @media only screen and (min-width: $iphone) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 22px;
  }

  @media only screen and (min-width: $mobile-hd) {
    width: auto;
    max-width: 404px;
    margin: 0 auto;
    padding: 0;
  }

  @media only screen and (min-width: $tablets) {
    width: auto;
    max-width: 660px;
    margin: 0 auto;
    padding: 0;
  }

  @media only screen and (min-width: $notebooks) {
    width: auto;
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }

  @media only screen and (min-width: $widebooks-hd) {
    width: auto;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin checkbox-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  position: relative;
  padding-left: 25px;

  @media only screen and (min-width: $iphone) {
    padding-left: 35px;
  }
}
@mixin custom-checkbox {
  position: absolute;
  content: "";
  display: block;

  width: 20px;
  height: 20px;

  top: 50%;
  left: 0;

  transform: translateY(-50%);

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 8px;

  @media only screen and (min-width: $iphone) {
    width: 24px;
    height: 24px;
  }
}
@mixin checkbox-checked {
  content: "";
  position: absolute;
  top: -3px;
  left: 3px;

  display: block;
  width: 20px;
  height: 15px;
  background-image: url('../img/tick.png');
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center center;

  @media only screen and (min-width: $iphone) {
    top: 0;
    left: 3px;

    width: 26px;
    height: 20px;

    background-size: 26px 20px;
  }
}

@mixin animation {
  @-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
  }
  @-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
  }
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
  }
}
