.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  position: absolute;
  top: -3000px;
  left: 0;

  background-color: $bg-white;
}
