.slider-item {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  /*Грид блок для одного большого элемента*/
  &--one {
    grid-template-columns: 1fr;
  }
  /*Грид блок для двух одинаковых элементов*/
  &--two {
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    grid-gap: 6px;
  }
}

@media only screen and (min-width: $notebooks) {
  .slider-item {
    width: 994px;
  }
}
