.slider-list {
  list-style: none;

  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  grid-gap: 6px;

  width: 100%;

  padding: 0;
  margin: 0;

  &--tablets {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .slider-list {
    grid-gap: 14px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .slider-list {
    grid-gap: 21px;
  }
}

@media only screen and (min-width: $tablets) {
  .slider-list {
    grid-gap: 28px;

    &--mobile {
      display: none;
    }

    &--tablets {
      display: grid;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .slider-list {
    grid-gap: 30px;

    &--tablets {
      display: none;
    }

    &--desktop {
      display: grid;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {

}
