.slider-item {
  display: grid;

  grid-template-rows: 1fr;
  width: 100%;
  /*Грид блок для одного большого элемента*/
  &--one {
    grid-template-columns: 1fr;
  }
  /*Грид блок для двух одинаковых элементов*/
  &--two {
    grid-template-columns: 150px 150px;
    justify-content: space-between;
    grid-gap: unset;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .slider-item {
    /*Грид блок для одного большого элемента*/
    &--one {
      grid-template-columns: 1fr;
    }
    /*Грид блок для двух одинаковых элементов*/
    &--two {
      padding-left: 17.5px;
      padding-right: 17.5px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .slider-item {
    /*Грид блок для одного большого элемента*/
    &--one {
      grid-template-columns: 1fr;
    }
    /*Грид блок для двух одинаковых элементов*/
    &--two {
      grid-template-columns: 300px 300px;

      justify-content: space-between;
      grid-gap: unset;

      padding-left: 0;
      padding-right: 0;
    }

    &--center {
      align-items: center;
    }
  }
}


@media only screen and (min-width: $notebooks) {
  .slider-item {
    width: 100%;

    &--lefttwo {
      grid-template-columns: 300px 596px;
      justify-content: space-between;

      padding: 0;
    }

    &--righttwo {
      grid-template-columns: 596px 300px;
      justify-content: space-between;

      padding: 0;
    }

    &--one {
      grid-template-columns: 596px;
      justify-content: flex-start;
      padding: 0;
    }

    &--three {
      grid-template-columns: 300px 300px 300px;
      justify-content: space-between;
      padding: 0;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .slider-item {
    width: 100%;

    &--lefttwo {
      grid-template-columns: 300px 646px;
      justify-content: space-between;

      padding: 0;
    }

    &--righttwo {
      grid-template-columns: 646px 300px;
      justify-content: space-between;

      padding: 0;
    }

    &--three {
      grid-template-columns: 300px 300px 300px;
      justify-content: space-between;
      padding: 0;
    }
  }
}
