.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  width: auto;

  padding-left: 10px;
  padding-right: 30px;

  position: relative;

  max-height: 22px;
  transition: 0.5s ease-in-out;

  &--active {
    max-height: 44px;
    transition: 0.5s ease-in-out;
    position: relative;
  }

  &__item {
    width: auto;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__title {
    font: {
      size: 0.625em;
      family: $base-font;
      weight: 300;
    }

    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;

    margin-right: 5px;
  }

  &__link {
    width: 100%;
    height: 100%;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    border: 1px solid #d8d8d8;
    border-radius: 14px;

    font: {
      size: 0.625em;
      family: $base-font;
      weight: 300;
    }

    color: #cdcdcd;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:active {
      color: #ff6700;
      border-color: #ff6700;
      transition: 0.2s ease-in;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .tag-list {
    padding-left: 20px;
    padding-right: 30px;

    max-height: 23px;

    &--active {
      max-height: 50px;
    }

    &__item {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &__title {
      font: {
        size: 0.75em;
      }

      margin-right: 5px;
    }

    &__link {
      padding-top: 3px;
      font: {
        size: 0.75em;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .tag-list {
    padding-left: 20px;
    padding-right: 30px;

    max-height: 23px;

    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;

      width: 100%;
      height: 10px;

      background-color: #ffffff;

      bottom: -10px;
      left: 0;
    }

    &--active {
      max-height: 45px;

      &::before {
        display: none;
      }
    }

    &__item {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &__title {
      font: {
        size: 1em;
        weight: 600;
      }

      margin-right: 5px;
    }

    &__link {
      padding-top: 3px;
      font: {
        size: 0.875em;
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .tag-list {
    padding-left: 80px;
    padding-right: 80px;

    max-height: 35px;

    &::before {
      display: none;
    }

    &--active {
      max-height: 90px;

      &::before {
        display: none;
      }
    }

    &__item {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    &__title {
      font: {
        size: 1.25em;
      }

      margin-right: 15px;
    }

    &__link {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 3px;
      font: {
        size: 1em;
      }
    }
  }
}
