$mobile: 360px;
$iphone: 414px;
$mobile-hd: 480px;
$tablets: 768px;
$notebooks: 1024px;
$widebooks: 1366px;
$widebooks-hd: 1440px;
$large-widebooks: 1600px;
$hd: 1920px;

$bg-header: #ffffff;
$bg-body: #f6d336;
$bg-show-body: #27c0d7;
$bg-black: #000000;
$bg-white: #ffffff;
$bg-footer: #ffffff;
$bg-gray: #eeeeee;
$bg-red: #ed1c24;
$bg-darkred: #ad1e23;
$color-fb: #2661CD;
$color-vk: #3B5E8C;
$color-lightgreen: #22B454;
$color-darkgreen: #22b24c;
$border-logo: #8dc63f;
$bg-404: #00aeef;

$btn-active: #ffffff;
$btn-pressed: #000000;

$bg-mark-btn: #ff6700;

$btn-games: #ff6700;
$btn-video: #45ab34;

$controls-bg: #ffffff;
$controls-text: #3abdcb;

$pagination-btn: #3abdcb;
$pagination-btn-active: #ff6700;
$text-pagination-white: #3abdcb;

$text-black: #000000;
$text-white: #ffffff;
$text-blue: #2aace2;
$text-purple: #7f4796;
$text-link: #561786;
$text-copyright: #9b9b9b;
$social-bg: #27c0d7;
$form-label: #252525;
$form-input: #16bccb;
$form-error: #e5331c;
$form-submit: #ff6700;
$report-title: #fa462e;

$base-font: "Arista-regular", sans-serif;
$light-font: "Arista Pro Light", "Arial", sans-serif;
$fat-font: "Arista-fat", "Arial", sans-serif;
$alternate-font: "Arista Pro Alternate", "Arial", sans-serif;
$footer-font: "Gotham Extra Light", "Arial", sans-serif;
$promo-font: "Helvetica-bold", "Arial", sans-serif;
$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-black;
$baseFontFamily: $base-font;

@media only screen and (min-width: $mobile) {

}

@media only screen and (min-width: $mobile-hd) {

}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
