.intro {
  width: 100%;

  display: grid;
  grid-template-areas:
    'breadcrumbs'
    'poster'
    'details'
  ;

  &--game {
    grid-template-areas:
      'breadcrumbs'
      'title'
    ;
  }

  grid-row-gap: 1.25rem;

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__frame {
    grid-area: poster;

    @include flex-setting(column, center, center);
    width: 100%;
    height: auto;

    margin-bottom: 0.625rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__details {
    grid-area: details;
    width: 100%;
    display: grid;
    grid-template-areas:
      'title mark'
      'intro-d intro-d'
    ;

    grid-template-columns: 1fr 30px;

    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include font-setting($primary-font, 1.625rem, 1, 900, $text-white);
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }

  &__description {
    grid-area: intro-d;

    @include font-setting($primary-font, 0.75rem, 1.2, 400, $text-white);
    margin: 0;
    margin-bottom: 0.625rem;
    text-align: left;
  }

  &__mark {
    grid-area: mark;

    @include flex-setting(column, center, center);
    width: 30px;
    height: 30px;

    font-size: 0;

    position: relative;
    background-color: #ff6700;

    border: none;
    border-radius: 50%;

    cursor: pointer;
    outline: none;

    &::after {
      position: absolute;
      content: '';

      width: 16px;
      height: 16px;

      background-image: url('../img/like-icon.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (min-width: 414px) {
  .intro {
    &__title {
      font-size: 1.875rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    grid-row-gap: 1.5rem;
    max-width: 660px;
    justify-self: center;

    grid-template-areas:
      'poster'
      'breadcrumbs'
      'details'
    ;

    &--game {
      grid-template-areas:
        'breadcrumbs'
        'title'
      ;
    }

    &__frame {
      margin-bottom: 0;
    }

    &__details {
      grid-template-columns: 1fr 200px;
      grid-row-gap: 1rem;
    }

    &__title {
      font-size: 2.125rem;
    }

    &__description {
      font-size: 1rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    &__mark {
      width: 200px;
      height: 50px;

      @include font-setting($primary-font, 1.5rem, 1, 900, #fff);

      position: relative;
      text-transform: uppercase;
      border-radius: 20px;
      box-shadow: 0px -8px 0px 1px rgba(222, 103, 0, 1)inset;
      filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));

      padding-left: 2.5rem;

      &::after {
        width: 24px;
        height: 24px;
        top: 50%;
        left: 1rem;

        transform: translate(0, -50%);
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .intro {
    grid-row-gap: 1.875rem;
    max-width: 940px;

    &__frame {
      margin-bottom: 0;
      max-height: 206px;
    }

    &__image {
      object-fit: contain;
      max-height: 206px;
    }

    &__details {
      grid-template-columns: 1fr 240px;
      grid-row-gap: 1rem;
    }

    &__title {
      font-size: 2.875rem;
      margin: 0;
    }

    &__description {
      font-size: 1.188rem;
    }

    &__mark {
      width: 240px;
      height: 50px;

      font-size: 1.625rem;

      border-radius: 25px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .intro {
    grid-row-gap: 1.875rem;
    max-width: 994px;

    &--game {
      max-width: 1280px;
    }

    &__frame {
      max-height: 280px;
    }

    &__image {
      max-height: 280px;
    }

    &__details {
      grid-template-columns: 1fr 240px;
      grid-row-gap: 2rem;
    }

    &__mark {
      width: 240px;
      height: 50px;

      font-size: 1.625rem;

      border-radius: 25px;
    }
  }
}
