.main-vk {
  @include flex-setting(column, flex-start, stretch);
  width: 100%;
  margin-bottom: 3rem;

  &__title {
    @include font-setting($primary-font, 1.375rem, 1, 900, $text-white);
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-vk {
    margin-bottom: 50px;

    &__title {
      font: {
        size: 1.875rem;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-vk {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    align-self: flex-start;

    &__title {
      font: {
        size: 1.875rem;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-vk {
    &__title {
      font: {
        size: 2.25rem;
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-vk {
    width: 50%;
    margin-bottom: 70px;
  }
}
