.main-breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  align-self: flex-start;

  margin-bottom: 10px;
}

@media only screen and (min-width: $mobile-hd) {

}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
