.main-rating {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  flex-wrap: wrap;

  position: relative;

  &__final {
    font: {
      size: 2.125em;
      family: $fat-font;
    }

    color: $text-white;
    line-height: 1;

    text-transform: uppercase;

    margin-right: 10px;
  }

  &__quantity {
    font: {
      size: 0.688em;
      family: $base-font;
    }

    color: $text-white;
    line-height: 1;

    text-transform: uppercase;
    text-align: right;

    display: block;
    width: 100%;
    margin-right: 10px;
  }

  /*Стилизация для звезд*/
  .reviewStars-input__input:checked ~ label,
  .reviewStars-input__label,
  .reviewStars-input__label:hover,
  .reviewStars-input__label:hover ~ label {
    background: url('../img/rating-sprite.png') no-repeat;
  }
  .reviewStars-input {
    width: 50%;

    position: relative;
    overflow: hidden;
    *zoom: 1;

    &__input {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;

      width: 29px;
      height: 27px;

      position: absolute;
      top: 0;
      z-index: 0;
    }

    &__input:checked ~ label {
      background-position: 0 -27px;
      width: 29px;
      height: 27px;
    }

    &__label {
      background-position: 0 0;
      width: 29px;
      height: 27px;

      float: right;
      cursor: pointer;
      margin-right: 10px;

      position: relative;
      z-index: 1;
    }

    &__label:hover,
    &__label:hover ~ label {
      background-position: 0 -27px;
      width: 29px;
      height: 27px;
    }

    .reviewStars-input #star-0 {
      left: 0px;
    }
    .reviewStars-input #star-1 {
      left: 53px;
    }
    .reviewStars-input #star-2 {
      left: 106px;
    }
    .reviewStars-input #star-3 {
      left: 159px;
    }
    .reviewStars-input #star-4 {
      left: 212px;
    }
    .reviewStars-input #star-5 {
      left: 265px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-rating {
    &__final {
      font: {
        size: 2.375em;
      }
    }

    /*Стилизация для звезд*/
    .reviewStars-input__input:checked ~ label,
    .reviewStars-input__label,
    .reviewStars-input__label:hover,
    .reviewStars-input__label:hover ~ label {
      background: url('../img/rating-sprite-480.png') no-repeat;
    }
    .reviewStars-input {
      &__input {
        width: 32px;
        height: 30px;
      }

      &__input:checked ~ label {
        background-position: 0 -30px;
        width: 32px;
        height: 30px;
      }

      &__label {
        width: 32px;
        height: 30px;

        margin-right: 5px;
      }

      &__label:hover,
      &__label:hover ~ label {
        background-position: 0 -30px;
        width: 32px;
        height: 30px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-rating {
    padding-top: 15px;

    &--game {
      padding-top: 0;
    }

    &--video {
      padding-top: 0;
    }

    &__final {
      font: {
        size: 3em;
      }
    }

    &__quantity {
      font: {
        size: 0.875em;
      }

      margin-right: 10px;
      margin-bottom: 14px;
    }

    /*Стилизация для звезд*/
    .reviewStars-input__input:checked ~ label,
    .reviewStars-input__label,
    .reviewStars-input__label:hover,
    .reviewStars-input__label:hover ~ label {
      background: url('../img/rating-sprite-768.png') no-repeat;
    }
    .reviewStars-input {
      &__input {
        width: 41px;
        height: 40px;
      }

      &__input:checked ~ label {
        background-position: 0 -40px;
        width: 41px;
        height: 40px;
      }

      &__label {
        width: 41px;
        height: 40px;

        margin-right: 5px;
      }

      &__label:hover,
      &__label:hover ~ label {
        background-position: 0 -40px;
        width: 41px;
        height: 40px;
      }
    }
  }

  .main-rating--game {
    .main-rating__final {
      font-size: 2.563em;
    }
    /*Стилизация для звезд*/
    .reviewStars-input__input:checked ~ label,
    .reviewStars-input__label,
    .reviewStars-input__label:hover,
    .reviewStars-input__label:hover ~ label {
      background: url('../img/rating-sprite-game.png') no-repeat;
    }
    .reviewStars-input {
      &__input {
        width: 38px;
        height: 35px;
      }

      &__input:checked ~ label {
        background-position: 0 -35px;
        width: 38px;
        height: 35px;
      }

      &__label {
        width: 38px;
        height: 35px;

        margin-right: 5px;
      }

      &__label:hover,
      &__label:hover ~ label {
        background-position: 0 -35px;
        width: 38px;
        height: 35px;
      }
    }
  }

  .main-rating--video {
    .main-rating__final {
      font-size: 2.563em;
    }
    /*Стилизация для звезд*/
    .reviewStars-input__input:checked ~ label,
    .reviewStars-input__label,
    .reviewStars-input__label:hover,
    .reviewStars-input__label:hover ~ label {
      background: url('../img/rating-sprite-game.png') no-repeat;
    }
    .reviewStars-input {
      &__input {
        width: 38px;
        height: 35px;
      }

      &__input:checked ~ label {
        background-position: 0 -35px;
        width: 38px;
        height: 35px;
      }

      &__label {
        width: 38px;
        height: 35px;

        margin-right: 5px;
      }

      &__label:hover,
      &__label:hover ~ label {
        background-position: 0 -35px;
        width: 38px;
        height: 35px;
      }
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .main-rating {
    padding-top: 0;
  }

  .main-rating--game {
    .main-rating__quantity {
      margin-bottom: 0;
    }
    .main-rating__final {
      font: {
        size: 3em;
      }
    }

    .reviewStars-input__input:checked ~ label,
    .reviewStars-input__label,
    .reviewStars-input__label:hover,
    .reviewStars-input__label:hover ~ label {
      background: url('../img/rating-sprite-768.png') no-repeat;
    }
    .reviewStars-input {
      &__input {
        width: 41px;
        height: 40px;
      }

      &__input:checked ~ label {
        background-position: 0 -40px;
        width: 41px;
        height: 40px;
      }

      &__label {
        width: 41px;
        height: 40px;

        margin-right: 5px;
      }

      &__label:hover,
      &__label:hover ~ label {
        background-position: 0 -40px;
        width: 41px;
        height: 40px;
      }
    }
  }

  .main-rating--video {
    .main-rating__quantity {
      margin-bottom: 0;
    }
    .main-rating__final {
      font: {
        size: 3em;
      }
    }

    .reviewStars-input__input:checked ~ label,
    .reviewStars-input__label,
    .reviewStars-input__label:hover,
    .reviewStars-input__label:hover ~ label {
      background: url('../img/rating-sprite-768.png') no-repeat;
    }
    .reviewStars-input {
      &__input {
        width: 41px;
        height: 40px;
      }

      &__input:checked ~ label {
        background-position: 0 -40px;
        width: 41px;
        height: 40px;
      }

      &__label {
        width: 41px;
        height: 40px;

        margin-right: 5px;
      }

      &__label:hover,
      &__label:hover ~ label {
        background-position: 0 -40px;
        width: 41px;
        height: 40px;
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-rating {
    &--video {
      width: auto;
    }
  }
}
