.main-intro {
  width: 100%;

  &__logo {
    width: 100%;
    height: auto;
  }

  &__img {
    width: 320px;
    height: auto;
  }
}

@media only screen and (min-width: $mobile) {
  .main-intro {
    &__img {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-intro {
    &__logo {
      min-width: 433px;
    }

    &__img {
      min-width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-intro {
    margin-bottom: 10px;
    
    &__logo {
      min-width: 581px;
      text-align: center;
    }

    &__img {
      min-width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
