.main-vk {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;

  margin-bottom: 50px;

  &__title {
    font: {
      size: 1.375em;
      family: $fat-font;
    }

    color: $text-white;
    line-height: 1;

    text-transform: uppercase;
    text-align: left;

    margin-top: 0;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-vk {
    margin-bottom: 50px;

    &__title {
      font: {
        size: 1.875em;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .main-vk {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    align-self: flex-start;

    &__title {
      font: {
        size: 1.875em;
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .main-vk {
    width: 50%;
    margin-bottom: 70px;

    &__title {
      font: {
        size: 2.188em;
      }
    }
  }
}
