.main-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  position: relative;

  &__title {
    font: {
      family: $fat-font;
      size: 1.75em;
    }

    color: $text-white;
    line-height: 1;

    margin-top: 10px;
    margin-bottom: 10px;

    text-align: left;
    text-transform: uppercase;

    width: 100%;
  }
}
