.main-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  &__pagination {
    order: 2;

    margin-top: 10px;
  }

  &__rating {
    order: 1;
  }
}

@media only screen and (min-width: $mobile) {
  .main-service {
    padding-bottom: 17px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .main-service {
    padding-bottom: 30px;
    padding-top: 0;
    margin-top: 0;
  }
}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
