.show-block {
  width: 100%;
  text-align: center;

  /*Блок маленький один*/
  &--small {
    width: 150px;
    height: 150px;
  }

  &--big {
    width: 100%;
    height: 150px;
  }

  &__link {
    display: block;
    width: 150px;
    height: 150px;

    border-radius: 15px;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
  }

  &__preview {
    width: 150px;
    height: 150px;

    font-size: 0;
    line-height: 0;

    border-radius: 15px;
  }
  /*Стилизация для блока с рекламой*/
  &--promo {
    height: 150px;
    width: 150px;

    display: grid;

    .item-content__link {
      width: 150px;
      height: 150px;
      text-decoration: none;

      border-radius: 15px;

      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
    }

    .item-content__preview {
      height: 150px;
      width: 150px;

      border-radius: 15px 15px 0 0;
    }

    .item-content__text {
      background-color: $bg-black;
      border-radius: 0 0 8px 8px;

      display: block;

      width: 150px;

      margin-top: -4px;

      text-align: center;
      text-transform: uppercase;

      padding-top: 4px;
      padding-bottom: 4px;

      font: {
        family: $promo-font;
        size: 0.5em;
        weight: 700;
      }
      color: $text-white;
      line-height: 1;
    }
  }
}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
