.show-carousel {
  width: 100%;
  margin-bottom: 28px;
}

@media only screen and (min-width: $mobile) {
  .show-carousel {
    margin-bottom: 31px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .show-carousel {
    margin-bottom: 17px;
  }
}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
