.show-list {
  list-style: none;

  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  grid-gap: 6px;

  width: 100%;

  padding: 0;
  margin: 0;
}

@media only screen and (min-width: $mobile) {
  .show-list {
    grid-gap: 14px;
  }
}

@media only screen and (min-width: $mobile-hd) {
  .show-list {
    grid-gap: 18px;
  }
}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
