.video-select {
  width: 100px;
  height: 30px;

  &-wrap {
    width: 100px;
    height: 30px;
  }

  &-wrap select {
    margin: 10px;
  }

  &-gap {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    font: {
      size: 1.125em;
      family: $fat-font;
      weight: 300;
    }

    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 10px;

    cursor: pointer;
    position: relative;
  }

  .on.video-select__gap,
  .video-select__gap:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .video-select__list {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: none;

    position: relative;

    max-height: 330px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .video-select__list.on {
    display: block;
  }

  .video-select__item {
    border-bottom: 1px solid #ffffff;

    &:last-of-type {
      border: none;
    }
  }

  .video-select__item span {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;

    font: {
      size: 1em;
      family: $fat-font;
      weight: 300;
    }
  }

  .video-select__item.selected,
  .video-select__item span:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .video-select__gap::after {
    content: '';
    display: block;
    width: 18px;
    height: 11px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    background-image: url('../img/arrow-down.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .27s ease-in-out;
    transform: rotate(0deg);
  }

  .on.video-select__gap::after {
    transform: rotate(180deg);
  }
}
