.video-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding-top: 10px;

  &__selectors {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 190px;
  }

  &__wrap {
    width: 90px;
    z-index: 5;
    position: absolute;

    &--1 {
      top: -13px;
      left: 2px;
    }

    &--2 {
      top: -13px;
      right: 2px;
    }

    .select {
      min-width: 90px;
      max-width: 90px;
      border-radius: 13px;
      margin: 0 auto;
    }

    .select-wrap {
      max-width: 90px;
      min-width: 90px;
      margin: 10px auto;

      border-radius: 13px;
    }

    .select-wrap select {
      margin: 10px;
    }

    .select__gap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      color: $bg-show-body;
      border: 1px solid $bg-show-body;
      border-radius: 13px;
      text-transform: uppercase;
      height: 26px;

      font: {
        size: 1em;
        family: $fat-font;
        weight: 300;
      }

      cursor: pointer;
      position: relative;
    }

    .on.select__gap,
    .select__gap:hover {
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .on.select__gap {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .select__list {
      background-color: #ffffff;
      border: 1px solid $bg-show-body;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: none;

      position: relative;

      max-height: 330px;
      overflow-y: scroll;

      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .select__list.on {
      display: block;
    }

    .select__item {
      border-bottom: 1px solid $bg-show-body;

      &:last-of-type {
        border: none;
      }
    }

    .select__item span,
    .select__item a {
      width: 100%;
      display: block;
      padding: 5px 10px;
      cursor: pointer;
      color: $bg-show-body;

      text-decoration: none;

      font: {
        size: 0.75em;
        family: $fat-font;
        weight: 300;
      }
    }

    .select__item.selected,
    .select__item span:hover,
    .select__item a:hover {
      color: $bg-show-body;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .select__gap::after {
      content: '';
      display: block;
      width: 18px;
      height: 11px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -5px;
      background-image: url('../img/arrow-down.png');
      background-size: cover;
      background-repeat: no-repeat;
      transition: all .27s ease-in-out;
      transform: rotate(0deg);
    }

    .on.select__gap::after {
      transform: rotate(180deg);
    }
  }

  &__btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $controls-bg;
    border: none;
    border-radius: 13px;

    padding-top: 4px;
    padding-bottom: 3px;

    width: auto;
    height: 26px;

    text-decoration: none;

    cursor: pointer;
    outline: none;

    font: {
      size: 0.813em;
      family: $fat-font;
    }

    color: $controls-text;
    line-height: 1;

    text-transform: uppercase;
    text-align: center;

    position: relative;
    text-decoration: none;

    a {
      text-decoration: none;
    }
    /*Кнопка отправки проблемы*/
    &--report {
      font-size: 0.5em;
      padding-left: 30px;
      padding-right: 10px;

      width: auto;

      &::before {
        position: absolute;
        content: '';

        width: 19px;
        height: 21px;

        background-image: url('../img/report-icon.svg');
        background-repeat: no-repeat;
        background-size: 19px 21px;

        top: 50%;
        left: 5px;

        transform: translateY(-50%);
      }
    }
    /*Кнопка - назад*/
    &--prev {
      padding-left: 20px;
      padding-right: 6px;

      &::before {
        position: absolute;
        content: '';

        width: 9px;
        height: 14px;

        background-image: url('../img/prev-icon.png');
        background-repeat: no-repeat;
        background-size: 9px 14px;

        top: 50%;
        left: 5px;

        transform: translateY(-50%);
      }
    }

    &--next {
      padding-right: 20px;
      padding-left: 5px;

      &::before {
        position: absolute;
        content: '';

        width: 9px;
        height: 14px;

        background-image: url('../img/next-icon.png');
        background-repeat: no-repeat;
        background-size: 9px 14px;

        top: 50%;
        right: 5px;

        transform: translateY(-50%);
      }
    }

    &--expand {
      background-color: transparent;
      border-radius: 0;

      width: 25px;
      height: 27px;

      background-image: url('../img/expand.svg');
      background-size: 25px 27px;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .video-controls {
    padding-top: 13px;

    &__selectors {
      width: 190px;
    }

    &__wrap {
      width: 90px;
      z-index: 5;
      position: absolute;

      &--1 {
        top: -15px;
        left: 3px;
      }

      &--2 {
        top: -15px;
        right: 3px;
      }

      .select {
        min-width: 90px;
        max-width: 90px;
        border-radius: 15px;
      }

      .select-wrap {
        max-width: 90px;
        min-width: 90px;

        border-radius: 15px;
      }

      .select__gap {
        border-radius: 15px;
        height: 30px;

        font: {
          size: 1.125em;
        }
      }

      .select__list {
        max-height: 400px;
      }

      .select__item span,
      .select__item a {
        font: {
          size: 0.875em;
        }
      }
    }

    &__btn {
      border-radius: 25px;

      padding-top: 4px;
      padding-bottom: 3px;

      height: 30px;

      font-size: 0.875em;
      /*Кнопка отправки проблемы*/
      &--report {
        font-size: 0.813em;
        padding-right: 15px;
        padding-left: 35px;

        &::before {
          width: 21px;
          height: 23px;

          background-size: 21px 23px;
        }
      }
      /*Кнопка - назад*/
      &--prev {
        padding-left: 20px;
        padding-right: 15px;
        &::before {
          width: 10px;
          height: 16px;

          background-size: 10px 16px;
        }
      }

      &--next {
        padding-left: 15px;
        padding-right: 20px;
        &::before {
          width: 10px;
          height: 16px;

          background-size: 10px 16px;
        }
      }

      &--expand {
        border-radius: 0;

        width: 28px;
        height: 30px;

        background-size: 28px 30px;
      }
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .video-controls {
    padding-top: 18px;

    &__selectors {
      width: 190px;
      height: auto;
    }

    &__wrap {
      width: 100px;
      z-index: 5;
      position: absolute;

      &--1 {
        top: -18px;
        left: -10px;
      }

      &--2 {
        top: -18px;
        right: -10px;
      }

      .select {
        min-width: 100px;
        max-width: 100px;
      }

      .select-wrap {
        max-width: 100px;
        min-width: 100px;
      }

      .select__gap {
        border-radius: 15px;
        height: 35px;

        font: {
          size: 1.25em;
        }
      }

      .select__list {
        max-height: 450px;
      }

      .select__item span,
      .select__item a {
        font: {
          size: 1em;
        }
      }
    }

    &__btn {
      border-radius: 25px;

      padding-top: 6px;
      padding-bottom: 3px;

      height: 35px;

      font-size: 1.063em;
      /*Кнопка отправки проблемы*/
      &--report {
        font-size: 0.938em;
        padding-top: 5px;

        width: 138px;

        &::before {
          width: 25px;
          height: 27px;

          background-size: 25px 27px;
        }
      }
      /*Кнопка - назад*/
      &--prev {
        width: 99px;

        &::before {
          width: 12px;
          height: 18px;

          background-size: 12px 18px;
        }
      }

      &--next {
        width: 99px;

        &::before {
          width: 12px;
          height: 18px;

          background-size: 12px 18px;
        }
      }

      &--expand {
        border-radius: 0;

        width: 33px;
        height: 35px;

        background-size: 33px 35px;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .video-controls {
    padding-top: 23px;
    margin-bottom: 23px;

    &__selectors {
      width: 290px;
      height: auto;
    }

    &__wrap {
      width: 180px;
      z-index: 5;
      position: absolute;

      &--1 {
        top: -25px;
        left: -40px;
      }

      &--2 {
        top: -25px;
        right: -40px;
      }

      .select {
        min-width: 180px;
        max-width: 180px;
      }

      .select-wrap {
        max-width: 180px;
        min-width: 180px;
      }

      .select__gap {
        border-radius: 25px;
        height: 50px;

        font: {
          size: 1.5em;
        }
      }

      .select__list {
        max-height: 750px;
      }

      .select__item span {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;

        font: {
          size: 1.25em;
        }
      }

      .select-item a {
        font-size: 1.25em;
      }
    }

    &__btn {
      padding-top: 6px;
      padding-bottom: 3px;

      height: 50px;

      font-size: 1.625em;
      /*Кнопка отправки проблемы*/
      &--report {
        font-size: 1.438em;
        padding-top: 5px;
        padding-left: 50px;

        width: 209px;

        &::before {
          width: 37px;
          height: 37px;

          background-size: 37px 37px;

          left: 10px;
        }
      }
      /*Кнопка - назад*/
      &--prev {
        width: 150px;
        padding-right: 0;

        &::before {
          width: 17px;
          height: 25px;

          background-size: 17px 25px;
          left: 10px;
        }
      }

      &--next {
        width: 150px;
        padding-left: 0;

        &::before {
          width: 17px;
          height: 25px;

          background-size: 17px 25px;
          right: 10px;
        }
      }

      &--expand {
        border-radius: 0;

        width: 50px;
        height: 50px;

        background-size: 50px 50px;
      }
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .video-controls {
    &__selectors {
      width: 290px;
      height: auto;
    }

    &__wrap {
      width: 170px;
      z-index: 5;
      position: absolute;

      &--1 {
        top: -25px;
        left: -27px;
      }

      &--2 {
        top: -25px;
        right: -27px;
      }

      .select {
        min-width: 170px;
        max-width: 170px;
      }

      .select-wrap {
        max-width: 170px;
        min-width: 170px;
      }

      .select__gap {
        border-radius: 25px;
        height: 50px;

        font: {
          size: 1.5em;
        }
      }

      .select__list {
        max-height: 750px;
      }

      .select__item span {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;

        font: {
          size: 1.25em;
        }
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .video-controls {
    width: 640px;
    align-self: flex-start;

    padding-top: 40px;
    margin-bottom: 40px;
  }
}
