.video-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    font: {
      family: $fat-font;
      size: 1.625em;
    }

    color: $text-white;
    line-height: 1;

    margin-top: 10px;
    margin-bottom: 10px;

    text-align: left;
    text-transform: uppercase;

    width: 100%;
  }

  &__description {
    font: {
      size: 0.75em;
      family: $fat-font;
    }

    color: $text-white;
    line-height: 1.2;
    text-transform: uppercase;

    display: block;
    max-height: auto;

    margin-top: 0;
    margin-bottom: 1.25rem;

    width: 100%;
  }

  &__link {
    @include flex-setting(row, flex-end, center);
    width: 100%;
    max-width: 220px;
    height: 74px;
    text-decoration: none;

    position: relative;

    margin-bottom: 1.25rem;

    padding-right: 1.25rem;

    border-radius: 10px;
    filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.3));
    transition: 0.2s ease;

    &.purple {
      background-color: $purple;
      box-shadow: 0px -8px 0px 1px rgba(98,48,115,1)inset;

      &:hover,
      &:focus{
        background-color: #7f4297;
        transition: 0.2s ease;
      }

      &:active {
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
        box-shadow: 0px -2px 0px 1px rgba(98,48,115,1)inset;
        transform: translate(0, 6px);
        transition: 0.2s ease;
      }
    }

    &.red {
      background-color: $red;
      box-shadow: 0px -8px 0px 1px rgba(156,32,12,1)inset;

      &:hover,
      &:focus{
        background-color: #e73104;
        transition: 0.2s ease;
      }

      &:active {
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
        box-shadow: 0px -2px 0px 1px rgba(156,32,12,1)inset;
        transform: translate(0, 6px);
        transition: 0.2s ease;
      }
    }

    &.yellow {
      background-color: $yellow;
      box-shadow: 0px -8px 0px 1px rgba(190,160,0,1)inset;

      &:hover,
      &:focus{
        background-color: #fed600;
        transition: 0.2s ease;
      }

      &:active {
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
        box-shadow: 0px -2px 0px 1px rgba(190,160,0,1)inset;
        transform: translate(0, 6px);
        transition: 0.2s ease;
      }
    }

    &.green {
      background-color: $green;
      box-shadow: 0px -8px 0px 1px rgba(38,134,131,1)inset;

      &:hover,
      &:focus{
        background-color: #22cac1;
        transition: 0.2s ease;
      }

      &:active {
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
        box-shadow: 0px -2px 0px 1px rgba(38,134,131,1)inset;
        transform: translate(0, 6px);
        transition: 0.2s ease;
      }
    }

    &.blue {
      background-color: $blue;
      box-shadow: 0px -8px 0px 1px rgba(26,126,167,1)inset;

      &:hover,
      &:focus{
        background-color: #00adf2;
        transition: 0.2s ease;
      }

      &:active {
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
        box-shadow: 0px -2px 0px 1px rgba(26,126,167,1)inset;
        transform: translate(0, 6px);
        transition: 0.2s ease;
      }
    }

    &.pink {
      background-color: $pink;
      box-shadow: 0px -8px 0px 1px rgba(182,72,105,1)inset;

      &:hover,
      &:focus{
        background-color: #ec5580;
        transition: 0.2s ease;
      }

      &:active {
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
        box-shadow: 0px -2px 0px 1px rgba(182,72,105,1)inset;
        transform: translate(0, 6px);
        transition: 0.2s ease;
      }
    }

    &-logo {
      position: absolute;
      width: 120px;
      height: 120px;

      left: -50px;
      top: 45%;

      transform: translateY(-50%);
    }

    &-text {

      @include flex-setting(column, center, flex-end);
      @include font-setting($fat-font, 3rem, 1, 900, #fff);
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .video-info {
    &__title {
      font: {
        size: 1.875em;
      }
    }

    &__description {
      font: {
        size: 0.813em;
      }

      margin-bottom: 1.875rem;
    }

    &__link {
      margin-bottom: 1.875rem;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .video-info {
    &__title {
      font: {
        size: 1.875em;
      }

      margin-top: 20px;
    }

    &__description {
      font: {
        size: 1em;
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .video-info {
    position: relative;

    &__description {
      min-height: auto;
      max-width: 330px;
    }

    &__link {
      width: 270px;
      max-width: 270px;
      height: 80px;
      padding-right: 2.25rem;

      &-logo {
        width: 140px;
        height: 140px;
      }
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .video-info {
    width: 100%;
    align-items: flex-start;

    &__title {
      font: {
        size: 2.875em;
      }

      margin-top: 0;
    }

    &__description {
      font: {
        size: 1.188em;
      }

      max-width: 940px;
    }

    &__link {
      align-self: flex-end;
      width: 270px;
      max-width: 270px;
      height: 80px;
      padding-right: 2.25rem;

      &-logo {
        width: 140px;
        height: 140px;
      }
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .video-info {
    width: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__description {
      width: 100%;
      min-height: 150px;
      max-width: 930px;
    }

    &__link {
      position: absolute;
      top: 0;
      right: -360px;

      width: 300px;
      max-width: 300px;

      height: 90px;
      padding-right: 2.25rem;

      &-logo {
        width: 150px;
        height: 150px;
      }

      &-text {
        font-size: 3.5rem;
      }
    }
  }
}
