.video-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    font: {
      family: $fat-font;
      size: 1.625em;
    }

    color: $text-white;
    line-height: 1;

    margin-top: 10px;
    margin-bottom: 10px;

    text-align: left;
    text-transform: uppercase;

    width: 100%;
  }

  &__description {
    font: {
      size: 0.75em;
      family: $fat-font;
    }

    color: $text-white;
    line-height: 1.2;
    text-transform: uppercase;

    display: block;
    max-height: auto;

    margin-top: 0;
    margin-bottom: 10px;

    width: 100%;
  }

  &__link {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #f4ca0f;
    box-shadow: inset 0 5px 10px #ffe057, inset 0 -5px 10px #e3ba03;
    border-radius: 10px;

    width: 100%;
    padding: 0.625rem 0.625rem;
    margin-bottom: 1.25rem;

    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;
      transition: 0.1s ease-in;
      box-shadow: none;

      .video-info__link-title,
      .video-info__link-name {
        color: #27c0d7;
      }
    }

    &-title {
      font: {
        size: 2.5rem;
        family: $fat-font;
        weight: 700;
      }

      line-height: normal;
      color: $text-white;
      text-transform: uppercase;
      margin-bottom: 1.25rem;
    }

    &-name {
      font: {
        size: 1.25rem;
        family: $fat-font;
        weight: 700;
      }

      line-height: normal;
      color: $text-white;
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .video-info {
    &__title {
      font: {
        size: 1.875em;
      }
    }

    &__description {
      font: {
        size: 0.813em;
      }
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .video-info {
    &__title {
      font: {
        size: 1.875em;
      }

      margin-top: 20px;
    }

    &__description {
      font: {
        size: 1em;
      }
    }

    &__link {
      width: 100%;
      max-width: 400px;
      padding: 1.25rem 1.25rem;
      margin-bottom: 1.25rem;

      text-decoration: none;

      &-title {
        font: {
          size: 3.5rem;
        }
      }

      &-name {
        font: {
          size: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $tablets) {
  .video-info {
    &__description {
      min-height: auto;
      max-width: 330px;
    }

    &__link {
      max-width: 300px;

      &-name {
        font-size: 1.25rem;
      }
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .video-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    &__title {
      font: {
        size: 2.875em;
      }

      margin-top: 0;
    }

    &__description {
      font: {
        size: 1.188em;
      }

      max-width: 620px;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .video-info {
    width: 100%;
    display: flex;

    &__description {
      min-height: 150px;
      max-width: 930px;
    }
  }
}
