.video-header {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: $tablets) {
  .video-header {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 50%;

    margin-bottom: 22px;
  }
}

@media only screen and (min-width: $notebooks) {
  .video-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 940px;

    margin-bottom: 0;
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .game-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 0;

    max-width: 930px;
  }
}
