.game-slider {
  width: 100%;

  &__item {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7px;
  }

  &__link {
    display: block;
    width: 150px !important;
    height: 150px;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);

    border-radius: 15px;
  }

  &__preview {
    width: 150px;
    height: 150px;
  }

  &__link:nth-of-type(odd) {
    margin-right: auto;
  }

  &--first {
    .next-4 {
      display: none;
    }
  }

  &--second {
    .next-5 {
      display: none;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .game-slider {
    &__item {
      margin-bottom: 14px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .game-slider {
    &__item {
      margin-bottom: 16px;

      padding-left: 17.5px;
      padding-right: 17.5px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .game-slider {
    &__item {
      justify-content: space-around;

      margin-bottom: 0;
      margin-right: 0;

      padding-left: 10px;
      padding-right: 5px;
    }
  }
}

@media only screen and (min-width: $notebooks) {
  .game-slider {
    &__item {
      flex-direction: column !important;
      justify-content: space-between;

      margin-bottom: 0;
      margin-right: 0;

      padding-left: 0;
      padding-right: 0;
    }

    &__link:nth-of-type(odd) {
      margin-right: 0;
    }

    &__link:first-of-type {
      margin-bottom: 23px;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {

}
