.game-share {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__title {
    font: {
      size: 0.875em;
      family: $fat-font;
    }

    color: $text-white;
    line-height: 1;

    text-align: left;
    text-transform: uppercase;

    width: 100%;

    margin-top: 15px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $mobile) {
  .game-share {
    &__title {
      font: {
        size: 1em;
      }

      margin-top: 8px;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (min-width: $mobile-hd) {
  .game-share {
    &__title {
      font: {
        size: 1.188em;
      }

      margin-top: 12px;
      margin-bottom: 6px;
    }
  }
}

@media only screen and (min-width: $tablets) {
  .game-share {
    align-self: flex-start;
    width: 50%;

    &__title {
      font: {
        size: 1.25em;
      }

      margin-top: 0;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .game-share {
    position: absolute;

    right: -350px;
    bottom: 10px;

    width: 300px;

    &--alt {
      bottom: 15px;
    }
  }
}
