.game-promo {
  display: none;
}

@media only screen and (min-width: $notebooks) {
  .game-promo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 300px;
    margin: 0;

    position: absolute;

    right: 0;
    bottom: 16px;

    &__content {
      display: flex;

      width: 300px;
      height: 265px;

      &--first {
        margin-bottom: 20px;
      }
    }

    &__link {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-decoration: none;
    }

    &__text {
      background-color: $bg-black;
      border-radius: 0 0 8px 8px;

      display: block;

      width: 100%;

      margin-top: -5px;

      text-align: center;
      text-transform: uppercase;

      padding-top: 4px;
      padding-bottom: 3px;

      font: {
        family: $promo-font;
        size: 0.5em;
        weight: 300;
      }
      color: $text-white;
      line-height: 1;
    }
  }
}

@media only screen and (min-width: $widebooks-hd) {
  .game-promo {
    top: 243px;

    bottom: auto;
  }
}
