.game {
  width: 100%;

  display: grid;
  grid-template-areas:
    'player'
    'controls'
    'share'
    'description'
    'rating'
  ;

  grid-row-gap: 1.25rem;

  // Окно игры
  &__content {
    grid-area: player;

    width: 100%;

    position: relative;
    padding-bottom: 56.25%;
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
  }
  // Кнопки для игры
  &__controls {
    grid-area: controls;

    @include flex-setting(row, flex-start, center);
  }

  &__btn {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 0.813rem, 1, 900, $controls-text);

    width: auto;
    height: 32px;

    background-color: $controls-bg;

    border: none;
    border-radius: 15px;

    text-transform: uppercase;
    text-decoration: none;

    position: relative;

    cursor: pointer;
    outline: none;

    transition: 0.1s ease-in;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.2);
      transition: 0.1s ease-in;
    }

    &--report {
      padding-left: 1.875rem;
      padding-right: 0.625rem;

      font-size: 0.625rem;

      &::before {
        position: absolute;
        content: '';

        width: 20px;
        height: 20px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19' height='21'%3E%3Cdefs%3E%3Cpath id='a' d='M31.02 743.32c1.575 0 2.856 1.364 2.856 3.04v9.556c0 1.529-1.066 2.798-2.448 3.01v3.94c0 .175-.1.334-.252.401a.395.395 0 01-.444-.094l-3.96-4.216h-8.806c-1.575 0-2.856-1.364-2.856-3.04v-9.557c0-1.676 1.281-3.04 2.856-3.04zm-6.527 13.03c.675 0 1.224-.584 1.224-1.303 0-.718-.55-1.303-1.224-1.303-.675 0-1.224.585-1.224 1.303 0 .719.55 1.303 1.224 1.303zm1.628-9.027a1.36 1.36 0 00-.324-.98 1.195 1.195 0 00-.896-.417h-.816c-.339 0-.665.151-.897.416-.23.263-.347.621-.323.986l.344 4.28c.047.71.608 1.268 1.284 1.268.668 0 1.23-.557 1.277-1.26z'/%3E%3C/defs%3E%3Cg clip-path='url(%23clip-77C9E7AF-2018-4EC1-8C68-BE5F40292EB4)' transform='translate(-15 -743)'%3E%3Cuse fill='%233abdcb' xlink:href='%23a'/%3E%3C/g%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        left: 0.375rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--prev {
      padding-left: 1.25rem;
      padding-right: 0.625rem;

      margin-left: auto;
      margin-right: 0.625rem;

      &::before {
        position: absolute;
        content: '';

        width: 14px;
        height: 18px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 492 492'%3E%3Cpath d='M198.608 246.104L382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z' fill='%233abdcb' /%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        left: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--next {
      padding-left: 0.625rem;
      padding-right: 1.25rem;

      margin-right: 1.25rem;

      &::before {
        position: absolute;
        content: '';

        width: 14px;
        height: 18px;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 492 492'%3E%3Cpath d='M198.608 246.104L382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z' fill='%233abdcb' /%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        right: 0.25rem;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &--expand {
      width: 32px;
      height: 32px;

      background-color: transparent;
      border-radius: 0;

      background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 451.111 451.111' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M290 0l56.389 56.389L257.778 145l48.333 48.333 88.611-88.611 56.389 56.389V0zM145 257.778l-88.611 88.611L0 290v161.111h161.111l-56.389-56.389 88.611-88.611zM306.111 257.778l-48.333 48.333 88.611 88.611L290 451.111h161.111V290l-56.389 56.389zM161.111 0H0v161.111l56.389-56.389L145 193.333 193.333 145l-88.611-88.611z' fill='%23ffffff' /%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  // Кнопки для поделиться
  &__share {
    grid-area: share;
  }

  &__description {
    grid-area: description;

    @include font-setting($primary-font, 0.875rem, 1.3, 900, $text-white);

    margin: 0;

    text-transform: uppercase;
    text-align: left;
  }

  &__rating {
    grid-area: rating;
    justify-self: end;
  }
}

@media only screen and (min-width: 414px) {
  .game {
    grid-row-gap: 1.5rem;

    &__btn {
      font-size: 1rem;
      height: 32px;

      &--report {
        padding-left: 2rem;
        font-size: 0.625rem;
      }

      &--prev {
        padding-left: 1.5rem;
      }

      &--next {
        padding-right: 1.5rem;
      }
    }

    &__description {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .game {
    grid-template-areas:
      'player player'
      'controls controls'
      'promo-g promo-g'
      'share share'
      'description description'
      'rating rating'
    ;

    grid-row-gap: 1.875rem;
    max-width: 660px;
    justify-self: center;

    &__promo {
      grid-area: promo-g;
    }

    &__btn {
      font-size: 1.625rem;
      height: 50px;

      border-radius: 25px;

      &--report {
        padding-left: 2.875rem;
        padding-right: 2rem;

        font-size: 1.25rem;

        &::before {
          width: 30px;
          height: 30px;
          left: 0.5rem;
        }
      }

      &--prev {
        padding-left: 2.25rem;
        padding-right: 1.625rem;

        margin-left: auto;
        margin-right: 0.625rem;

        &::before {
          width: 21px;
          height: 27px;

          left: 0.375rem;
        }
      }

      &--next {
        padding-left: 1.625rem;
        padding-right: 2.25rem;

        &::before {
          width: 21px;
          height: 27px;

          right: 0.375rem;
        }
      }

      &--expand {
        width: 50px;
        height: 50px;
        border-radius: 0;
      }
    }

    &__description {
      font-size: 1.125rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .game {
    grid-template-areas:
      'player promo-g'
      'controls promo-g'
      'share promo-g'
      'description description'
      'rating rating'
    ;

    grid-template-columns: 1fr 300px;
    grid-column-gap: 1.25rem;
    max-width: 940px;
  }
}

@media only screen and (min-width: 1600px) {
  .game {
    grid-template-areas:
      'player promo-g'
      'controls promo-g'
      'share promo-g'
      'description rating'
    ;

    grid-template-columns: 1fr 300px;
    grid-column-gap: 1rem;
    max-width: 1280px;
    width: 100%;
  }
}
