.game-service {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  margin-bottom: 10px;

  &__mark {
    display: none;
  }
}

@media only screen and (min-width: $mobile) {
  .game-service {
    margin-bottom: 17px;
  }
}

@media only screen and (min-width: $tablets) {

}

@media only screen and (min-width: $notebooks) {

}

@media only screen and (min-width: $widebooks-hd) {

}
